* {
  box-sizing: border-box;
}
body {
  background: #002D62;
  color: #EB6E1F;
}
h1 {
  font-size: 130px;
  font-family: 'Handlee', cursive;
}
.center-container {
  text-align: center;
  margin-top: 200px;
}